<h2>Registro de Usuarios</h2>

<form action="/api/sessions/register" method="POST">
    <label for="first_name"> Nombre </label>
    <input type="text" name="first_name">
    <br><br>

    <label for="last_name"> Apellido </label>
    <input type="text" name="last_name">
    <br><br>

    <label for="email"> Email </label>
    <input type="email" name="email">
    <br><br>

    <label for="password"> Password </label>
    <input type="text" name="password">
    <br><br>

    <label for="age"> Edad: </label>
    <input type="number" name="age">
    <br><br>

    <button type="submit"> Registrar </button>

</form>