<h1> Nuevas Tareas </h1>

<form action="/todos" method="POST">
    <label for="title">Titulo</label>
    <input type="text" name="title">
    <br><br>
    <label for="description">Descripcion</label>
    <input type="text" name="description">
    <br><br>
    <button type="submit"> Guardar </button>
</form>
<a href="/"> Volver al listado </a>