<h1> Registro de Usuario </h1>

<form action="/api/sessions/register" method="POST">
    <label for="usuario"> Nombre de usuario: </label>
    <input type="text" name="usuario">
    <br><br>
    <label for="password"> Contraseña:  </label>
    <input type="text" name="password">
    <br><br>
    <button type="submit"> Registrarse </button>
</form>