<h2> Login </h2>

<form action="/api/sessions/login" method="POST">
    <label for="email"> Email: </label>
    <input type="text" name="email">
    <br><br>

    <label for="password"> Contraseña: </label>
    <input type="text" name="password">
    <br><br>

    <button type="submit"> Login </button>
</form>
<br><br>
<a href="/api/sessions/github"> GitHub </a>